a.nav-link.otherpages:hover::before {
  transform: scaleX(1);
}

a.nav-link.otherpages::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 7px;
  left: 0px;
  background-color: #040054;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a.nav-link.active.otherpages::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 7px;
  left: 0px;
  background-color: #040054;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}

a.nav-link:hover::before {
  transform: scaleX(1);
}

a.nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 7px;
  left: 0px;
  background-color: #ffffff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a.nav-link.active::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 7px;
  left: 0px;
  background-color: #ffffff;
  transform: scaleX(1);
  transition: transform 0.3s ease;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  position: relative;
  display: inline-block;
  color: rgba(0,0,0,.9);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0,0,0,.7);
}

.navbar-light .navbar-nav .nav-link {
  position: relative;
  display: inline-block;
}

button.btn.fs-5.py-2.px-4.right:hover {
}

.right:hover {
}

#banner {
  background: url("../../assets/img/image-1.png") center / cover no-repeat;
  width: 100%;
  height: 100vh;
}

body {
  font-family: 'Rubik';
  width: 100%;
}

.card.overlay {
  margin-right: 30px;
  min-width: 240px;
  border-width: 0px;
  height: 340px;
}

.card-img {
  object-fit: cover;
  object-position: center;
  height: 340px;
  filter: brightness(75%);
}

.donate-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.donate-image {
  height: 370px;
  width: 100%;
  background: url("../../assets/img/image-4.jpg") center / cover;
}

.text-muted.contact_us {
  --bs-text-opacity: 1;
  color: #000000!important;
}

.link-secondary {
  color: #d0d0d0;
  text-decoration: none;
  margin-top: 10px;
}

.link-secondary:hover, .link-secondary:focus {
  color: #ffffff;
}

li.footer {
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-muted.mb-0.footer {
  color: #ffffff!important;
}

.image-top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  flex-direction: column;
}

.down-layer {
  background: var(--bs-gray-500);
  height: 300px;
  width: 300px;
  border-radius: 7px;
  margin-bottom: -280px;
  margin-right: 70px;
}

.top-layer {
  background: url(../../assets/img/image-2.jpg) center/ cover no-repeat;
  height: 300px;
  width: 300px;
  border-radius: 7px;
}

@media (min-width: 992px) {
  .down-layer {
    background: var(--bs-gray-500);
    height: 400px;
    width: 400px;
    border-radius: 7px;
    margin-bottom: -435px;
    margin-right: 70px;
  }
}

@media (min-width: 992px) {
  .top-layer {
    background: url(../../assets/img/image-2.jpg) center/ cover no-repeat;
    height: 400px;
    width: 400px;
    border-radius: 7px;
  }
}

.news {
  height: 115px;
  min-height: 210px;
  width: 362px;
  display: flex;
  align-items: center;
  background: var(--bs-white);
  margin-top: -10px;
  box-shadow: 0px 2px 16px 2px rgba(26,22,42,0.46);
  padding: 10px;
  margin-bottom: 25px;
  text-align: center;
}

@media (min-width: 576px) {
  .news {
    height: 115px;
    min-height: 100px;
    width: 362px;
    display: flex;
    align-items: center;
    background: var(--bs-white);
    margin-top: -10px;
    box-shadow: 0px 2px 16px 2px rgba(26,22,42,0.46);
    padding: 10px;
    margin-bottom: 25px;
    text-align: center;
  }
}

@media (min-width: 576px) {
  .news {
    width: 540px;
    border-radius: 7px;
    margin-top: -60px;
  }
}

@media (min-width: 768px) {
  .news {
    width: 660px;
  }
}

@media (min-width: 992px) {
  .news {
    width: 700px;
  }
}

.event-details {
  font-weight: bold;
  font-size: 15px;
}

@media (min-width: 768px) {
  .event-details {
    font-weight: bold;
    font-size: 19px;
  }
}

.image-scroll {
  overflow-x: auto;
  display: flex;
  height: 370px;
}

.text-overlay {
  top: 130px;
  color: var(--bs-white);
  height: 100px;
}

.image-scroll::-webkit-scrollbar {
  width: 0px;
}

.card-img {
  border-radius: 8px;
}

.overlay {
  border-radius: 12px;
}

@media (min-width: 300px) {
  .donate-form {
    max-width: 325px;
  }
}

@media (min-width: 768px) {
  .donate-form {
    max-width: 600px;
  }
}

@media (min-width: 992px) {
  .donate-form {
    max-width: 700px;
  }
}

.txt-box {
  padding-bottom: 19px;
}

@media (min-width: 992px) {
  .txt-box {
    padding-bottom: 0px;
  }
}

#banner-donate {
  background: url("../../assets/img/image-1.png") center / cover no-repeat;
  width: 100%;
  height: 32vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.bs-icon-xl {
  --bs-icon-size: 8.5rem;
}

.bs-icon.bs-icon-circle {
  border-radius: 2%;
}

.blog {
  min-width: 110px;
}

#blog-scroll::-webkit-scrollbar {
  width: 0px;
}

#blog-scroll {
  overflow-x: scroll;
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
  padding: 15px;
  /*width: 100%;*/
}

.blog-card {
  min-width: 305px;
  box-shadow: 0px 0px 14px rgba(46,54,61,0.15);
}

#events-card {
  background: #698ec5;
  color: rgb(255,255,255);
  border-radius: 7px;
  margin-bottom: 40px;
  min-width: 285px;
}

@media (min-width: 300px) {
  #events-card {
    max-width: 285px;
  }
}

@media (min-width: 576px) {
  #events-card {
    max-width: 450px;
  }
}

@media (min-width: 768px) {
  #events-card {
    max-width: 719px;
  }
}

@media (min-width: 992px) {
  #events-card {
    max-width: 950px;
  }
}

@media (min-width: 1400px) {
  #events-card {
    max-width: 1090px;
  }
}

.event-image {
  object-fit: cover;
  object-position: center;
  height: 300px;
  width: 283px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

@media (min-width: 576px) {
  .event-image {
    height: 300px;
    width: 448px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
}

@media (min-width: 768px) {
  .event-image {
    height: 431px;
    width: 326px;
    border-top-left-radius: 7px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 7px;
  }
}

@media (min-width: 992px) {
  .event-image {
    height: 340px;
    width: 350px;
    border-top-left-radius: 7px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 7px;
  }
}

@media (min-width: 1200px) {
  .event-image {
    height: 300px;
    width: 350px;
    border-top-left-radius: 7px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 7px;
  }
}

.blog-scroller {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin-left: 17px;
  padding-bottom: 20px;
  padding-left: 12px;
}

@media (min-width: 768px) {
  .blog-scroller {
    margin-left: 65px;
  }
}

@media (min-width: 992px) {
  .blog-scroller {
    margin-left: 105px;
  }
}

.blog-scroller::-webkit-scrollbar {
  width: 0px;
}

.blog-card {
  margin-right: 20px;
  border-style: none;
  border-radius: 8px;
}

.blog-title {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

@media (min-width: 768px) {
  .blog-title {
    padding: 60px;
  }
}

@media (min-width: 992px) {
  .blog-title {
    padding: 60px;
    padding-left: 100px;
  }
}

.fit-cover {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.event-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 90px;
  padding-left: 54px;
  padding-right: 54px;
}

@media (min-width: 300px) {
  .event-section {
    padding: 45px;
    padding-left: 35px;
    padding-right: 54px;
  }
}

@media (min-width: 768px) {
  .event-section {
    padding: 45px;
    padding-left: 55px;
    padding-right: 40px;
  }
}

@media (min-width: 992px) {
  .event-section {
    padding: 45px;
    padding-left: 100px;
    padding-right: 40px;
  }
}

#events-card {
  background: #dfe3fb;
  color: rgb(255,255,255);
  border-radius: 7px;
}

h5 {
}

@media (min-width: 300px) {
  #department-div {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 576px) {
  #department-div {
    flex-direction: row;
  }
}

#department-text {
  padding: 20px;
}

#section-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  #section-form {
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  #section-form {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}

#reg-image {
  height: 350px;
  width: 100%;
  background: url("../../assets/img/GloryFest%202021_32.jpg") center / cover no-repeat;
}

@media (min-width: 768px) {
  #reg-image {
    height: 910px;
  }
}

@media (min-width: 992px) {
  #reg-image {
    height: 775px;
  }
}

#reg-form {
  height: 910px;
  width: 100%;
  padding: 20px;
}

@media (min-width: 992px) {
  #reg-form {
    height: 775px;
    width: 100%;
    padding: 20px;
  }
}

#btn-form-prev {
  padding-left: 40px;
  padding-right: 40px;
  background: #ffffff;
  border-style: solid;
  border-color: #040054;
  color: #040054;
}

.donate-text-1 {
  padding-bottom: 10px;
}

@media (min-width: 992px) {
  .about-us_images {
    width: 60%;
    min-height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.about-us_images {
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about-us_banner {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 992px) {
  .about-us_banner {
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.about-us_banner-text {
  width: 100%;
  min-height: 400px;
}

#image-4 {
  height: 181px;
  width: 137px;
  background: url("../../assets/img/GloryFest%202021_82.jpg") center / cover;
  z-index: 1;
  margin-bottom: -126px;
  margin-left: 19px;
}

@media (min-width: 576px) {
  #image-4 {
    height: 214px;
    width: 190px;
    background: url("../../assets/img/GloryFest%202021_82.jpg") center / cover;
    z-index: 1;
    margin-bottom: -126px;
    margin-left: 19px;
  }
}

@media (min-width: 768px) {
  #image-4 {
    height: 230px;
    width: 200px;
    background: url("../../assets/img/GloryFest%202021_82.jpg") center / cover;
    z-index: 1;
    margin-bottom: -126px;
    margin-left: -67px;
  }
}

#image-3 {
  height: 168px;
  width: 130px;
  background: url("../../assets/img/IMG_1168.jpg") center/cover no-repeat;
  z-index: 2;
  margin-right: -190px;
  margin-bottom: -182px;
}

@media (min-width: 576px) {
  #image-3 {
    height: 210px;
    width: 190px;
    background: url("../../assets/img/IMG_1168.jpg") center/cover no-repeat;
    z-index: 2;
    margin-right: -216px;
    margin-bottom: -182px;
  }
}

@media (min-width: 768px) {
  #image-3 {
    height: 250px;
    width: 230px;
    background: url("../../assets/img/IMG_1168.jpg") center/cover no-repeat;
    z-index: 2;
    margin: -4px 0px 0px;
    margin-top: -1px;
    margin-right: -214px;
    margin-bottom: -182px;
  }
}

#image-2 {
  height: 180px;
  width: 150px;
  background: url("../../assets/img/IMG_6501.jpg") center/cover no-repeat;
  z-index: 0;
  margin-right: 162px;
  margin-top: 12px;
}

@media (min-width: 576px) {
  #image-2 {
    height: 240px;
    width: 190px;
    background: url("../../assets/img/IMG_6501.jpg") center/cover no-repeat;
    z-index: 0;
    margin-right: 280px;
    margin-top: -71px;
  }
}

@media (min-width: 768px) {
  #image-2 {
    height: 250px;
    width: 250px;
    background: url("../../assets/img/IMG_6501.jpg") center/cover no-repeat;
    z-index: 0;
    margin-right: 355px;
    margin-top: -85px;
  }
}

#image-1 {
  height: 200px;
  width: 153px;
  background: url("../../assets/img/IMG_6506.jpg") center/cover no-repeat;
  z-index: -1;
  margin-top: -35px;
  margin-right: -39px;
}

@media (min-width: 576px) {
  #image-1 {
    height: 230px;
    width: 190px;
    background: url("../../assets/img/IMG_6506.jpg") center/cover no-repeat;
    z-index: -1;
    margin-top: -50px;
    margin-right: 15px;
  }
}

@media (min-width: 768px) {
  #image-1 {
    height: 250px;
    width: 200px;
    background: url("../../assets/img/IMG_6506.jpg") center/cover no-repeat;
    z-index: -1;
    margin-top: -75px;
    margin-right: 48px;
  }
}

.tenets {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 576px) {
  .tenets {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.final-tenet {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 540px;
}

@media (min-width: 576px) {
  .final-tenet {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 540px;
  }
}

.gallery {
  border-radius: 5px;
}

